<a href="https://colab.research.google.com/github/aang13/Google_colab_projects/blob/master/Monthly_Car_demand_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Data

In [0]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
# read the files
path='/content/drive/My Drive/Motor Vehicle Prediction/'
df=pd.read_csv(path+'Merged File.csv')

In [0]:
df.head()

  Unnamed: 0      A  ...  order balance  Order Balance (excluding ships)
0     Jan-00  19110  ...       20261220                         18339835
1     Feb-00  27910  ...       20160018                         18213173
2     Mar-00  44100  ...       18445079                         16454924
3     Apr-00  20635  ...       18390488                         16413941
4     May-00  21912  ...       18573875                         16590190

[5 rows x 286 columns]

In [0]:
df=df.interpolate(method='linear', order=2,limit_direction ='forward')
df=df.interpolate(method='linear', order=2,limit_direction ='backward')

In [0]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X=df.iloc[:,18:268]
Y=df.iloc[:,1]
bestfeatures=SelectKBest(score_func=chi2, k=40)
fit=bestfeatures.fit(X,Y)
dfscores=pd.DataFrame(fit.scores_)
dfcolumns=pd.DataFrame(X.columns)
featuresScores=pd.concat([dfcolumns,dfscores],axis=1)
featuresScores.columns=['feature','score']
print(featuresScores.nlargest(40,'score'))

                                               feature         score
210                                 Total Order Amount  3.855499e+07
175                                              Total  3.779814e+07
211               Total Order Amount (excluding ships)  3.489956e+07
222                                    domestic demand  3.047393e+07
205                                           aircraft  2.625324e+07
224                                Ministry of Defense  2.615682e+07
213                                      public demand  2.017782e+07
212                                    external demand  1.813177e+07
214                                     private demand  1.683532e+07
215                   Private demand (excluding ships)  1.672683e+07
176                                        prime mover  1.515020e+07
218                         non-manufacturing industry  1.465665e+07
219                Non-Manufacturing (excluding ships)  1.428182e+07
194                                 chemical machinery  1.318781e+07
177                               nuclear power engine  1.218640e+07
183             electronic and communication equipment  1.183028e+07
178                                        fire engine  1.174036e+07
206                                               ship  1.123552e+07
216  Private demand (Excluding ships and electric p...  1.118390e+07
189                               industrial machinery  8.033340e+06
184                                electronic computer  7.904607e+06
186                            communication equipment  7.642183e+06
220  Non-Manufacturing (Excluding ships and electri...  7.304107e+06
203                                      rolling stock  6.483339e+06
217                                      Manufacturing  5.517530e+06
185              semiconductor manufacturing equipment  3.673726e+06
227         Public Sector Demand Translation and Other  3.531791e+06
207                                     iron structure  3.272988e+06
201                                              Other  3.007084e+06
226                               local public service  2.896956e+06
198                             construction machinery  2.596665e+06
182                              Other heavy machinery  2.432378e+06
161                               Cargo transportation  2.329314e+06
225      state service by government and public demand  2.308888e+06
237  Breakdown of nonferrous metal manufacturing in...  2.127682e+06
236  Breakdown of Manufacturing by Iron and Steel I...  2.009850e+06
204                                       road vehicle  1.998969e+06
242  Breakdown of manufacturing by electrical machi...  1.517173e+06
202                                       machine tool  1.433638e+06
233  Breakdown of manufacturing industries Oil and ...  1.427005e+06

In [0]:
featuresScores=featuresScores.sort_values(by='score',ascending=False)
importantFeatures=featuresScores.feature.values.tolist()
importantFeatures=importantFeatures[0:40]
X=X=pd.DataFrame(X,columns=importantFeatures)

In [0]:
X

     Total Order Amount  ...  Breakdown of manufacturing industries Oil and coal products
0               1666314  ...                                               3852
1               1744494  ...                                               3963
2               3923618  ...                                               9862
3               1588347  ...                                               3053
4               1595751  ...                                               3442
..                  ...  ...                                                ...
206             3929192  ...                                               3975
207             2097509  ...                                               2139
208             1810005  ...                                               3076
209             2452966  ...                                               5065
210             2042537  ...                                               2677

[211 rows x 40 columns]